@import "_layout.scss";

#pageTop{
  background: #F7F5F3;
  padding: 60px 0 50px;
  @import "./_toppage.scss";
}
.page-illustset{
  @import "./_illustset.scss";
}
.page-illust{
  @import "./_illust.scss";
}
#pageInfo{
  background: #F7F5F3;
  padding-bottom: 100px;
  @import "./_information.scss";
}

