@import '../lib/_variables.scss';

@mixin mediaSP {
  @media screen and (max-width:850px) {
    @content
  }
}

@mixin marginHeader {
  margin-top: 210px;
  @include mediaSP {
    margin-top: 160px;
  }
}

@mixin breadcrumbs{
  .site-navi {
    font-size: 14px;
    padding: 25px 0px 25px 0px;
    .arrow {
      margin: 0 10px 0 10px;
      color: #A1A1A1;
    }
     a {
      text-decoration: none;
      color: #A1A1A1;
       &:hover {
         color: $clr_orange;
       }
    }
  }
}

@mixin white-button(){
  width: 210px;
  border-radius: 30px;
  padding: 8px 35px 8px 35px;
  font-size: 13px;
  background: #fff;
  text-decoration: none;
  border: solid 1px #EA6D53;
  color: #EA6D53;
  outline: none;
  transition: ease 0.4s;
  &:hover{
    background:#EA6D53;
    color:#fff;

  }
}
@mixin orange-button(){
  display: inline-block;
  border-radius: 30px;
  padding: 8px 35px 8px 35px;
  font-size: 13px;
  background: #EA6D53;
  text-decoration: none;
  color: #fff;
  outline: none;

  span {
    display: inline-block;
    margin-right: .2rem;
  }
  i {
    font-size: 1rem;
  }
  &:hover{
    opacity: .7;
  }
}

@mixin info_heading($textColor,$bgColor) {
  margin-bottom: 1rem;

  @include mediaSP {
    margin-bottom: .5rem;
  }

  div {
    text-align: center;
  }
  span {
    display: inline-block;
    margin-bottom: 13px;
    padding: 12px 20px;
    font-size: 1.6rem;
    font-weight: bold;
    color: $textColor;
    text-align: center;
    background: $bgColor,;
    @include mediaSP {
      font-size: 1rem;
    }
  }
}


@mixin btn_backTop(){
  display: inline-block;
  border-radius: 30px;
  padding: 8px 35px 8px 35px;
  font-size: 13px;
  background: #fff;
  text-decoration: none;
  border: solid 1px #EA6D53;
  color: #EA6D53;
  outline: none;

  span {
    display: inline-block;
    margin-right: .2rem;
  }
  i {
    font-size: 1rem;
  }
  &:hover{
    opacity: .7;
  }
}